@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;

        --h1-font-size: 72px;
        --h2-font-size: 36px;
        --h3-font-size: 20px;
        --p-font-size: 16px;

        --figcaption-font-size: 14px;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        width: 2em;
        height: 1em;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
    h1 {
        font-size: var(--h1-font-size);
        margin: 0 auto;
    }

    h2 {
        font-size: var(--h2-font-size);
    }

    h3 {
        font-size: var(--h3-font-size);
    }

    p {
        font-size: var(--p-font-size);
    }

    main {
        max-width: 60%;
        margin: 0 auto;
    
    }

    span {
        font-size: 2em;
    }

    figure {
        margin: 0;
    }

    figcaption {
        font-size: var(--figcaption-font-size);
        color: var(--gray);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

   .button {
    display: inline-block;
    color: var(--light);
    background-color: var(--primary);
    text-decoration: none;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
   }

   .button:hover {
    background-color: var(--black);
    color: var(--light);
   }

   

   .page__logo {
    display: inline-block;
    left: 0;
   }

   .page__header {
    background-image: url("../images/header-2560w.webp");
    color: var(--light, rgb(255,255,255));
    background-size: cover;
    height: 80vh;
    background-position: bottom top;
    margin: 0 auto;
   }

   .page__header a {
    background-color: var(--light);
    color: var(--black);
   }

   .page__intro {
    display: inline-block;
    padding-top: 20rem;
    padding-left: 100px;
    max-width: 50%;
   }

   .page__intro img {
    position: absolute; 
    top: 0px;
    z-index: -1;
    overflow: hidden;
   }

   .page__content__border {
    border: 3px solid var(--primary);
    padding: 10px 20px;
   }

   .page__content__max {
    background-color: var(--gray);
    text-align: center;
    color: var(--light);
    padding: 30px;
    overflow: visible;
   }


   .page__content__max p {
    margin-bottom: 50px;
   }


   .page__content__max h2 {
    font-size: 4em;
   }


   .page__content__max a {
    background-color: var(--light);
    color: var(--black);
   }

   .page__content picture {
    width: 100%;
    height: auto;
   }

   .page__footer {
    background-color: var(--black);
    color: var(--light);
    padding: 5px;
    text-align: center;
   }

   
   figure picture img {
    display: inline-block;
    width: 100%;
    height: auto;
    
   }

   .page__content__provedeni {
    display: inline-block;
   }

   .page__content__provedeni__div {
    width: 30%;
    padding: 1%;
    min-width: 300px;
    vertical-align: top;
    display: inline-block;
   }

   .page__content__provedeni__div img {
    width: 100%;   
    height: auto;
   }

   .page__content__gallery__gallery {
    font-size: 0;
   }

   .card_full {
    width: 100%;
    height: auto;
   }

   .card_half_left {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 10px;
    display: inline-block;
    width: calc(50% - 10px - 1em);
    object-fit: cover;
    vertical-align: top;
   }

   .card_half_right {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 10px;
    display: inline-block;
    width: calc(50% - 10px - 1em);
    object-fit: cover;
    vertical-align: top;
   }
}
